* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Vazirmatn;
    background-color: #c4def7;
}
.justy-center{
    justify-content: center;
}
.justy-around{
    justify-content: space-around;
}
.color-gray{
    color:gray ;
}
h1 {
    font-weight: bolder;
    font-size: 1.5rem;
}
h2{
    font-size: 1.5rem;
    margin: 5px;
}
p{
    font-size: 15px;
}
.RightToLeft {
    direction: rtl;
    margin: 5px;
}
.container {
    max-width: 1124px;
    margin: 0 auto;
    direction: rtl;
}

.display-flex {
    display: flex;
}
.bx{
    cursor: pointer;
}
.setting{
    direction: ltr;
    padding: 10px;
    gap: 8px;
    font-size: 30px;
    color: white;
}
.todolist {
    width: 25%;
    height: 550px;
    background-color: white;
    border-radius: 10px;
}

ul {
    height: 77%;
    border-bottom: 1px solid rgb(179, 189, 199);
}
.bxs-low-vision{
    padding: 5px;
    background-color: rgb(222, 225, 228);
    border-radius: 10px;
    color: #3c5190;
    cursor: pointer;
}
.bx-edit-alt , .bx-trash{
    display: none;
}
.input-check{
    appearance: none;
    height: 10px;
    border: 1px solid green;
    padding: 5px;
    background-color: lightgreen;
    margin:5px 0 0 3px;
    border-radius: 2px;
}
.title-todolist{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(179, 189, 199);
    padding: 10px;
}
.SingelTodoList {
    margin: 10px;
    padding: 4px;
    align-items: center;
    border: 1px solid rgb(179, 189, 199);
    border-radius: 12px;
    position: relative;
    justify-content: space-between;
    border-bottom: 2px solid green;
}
.SingelTodoList:hover .bx-edit-alt ,.SingelTodoList:hover .bx-trash{
    display: inline;
}
.form-list {
    box-shadow: 1px 1px 10px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid rgb(179, 189, 199);
}

.input-list , .input-sereach {
    height: 30px;
    border: none;
    font-family: Vazirmatn;
    outline: none;
    font-weight: bold;
    padding: 0 8px;
    transition: 0.3s;
}
.input-sereach{
    min-width: 350px;
    background-color:rgb(222, 225, 228);
}
.sereach{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom:16px ;
}
.sereachbox{
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px gray;
    background-color: rgb(222, 225, 228);
    padding: 12px;
    border-radius: 30px;
}
.bx-search-alt-2{
    padding: 5px 15px;
    background-color: #3c5190;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}
.align-center{
    align-items: center;
}
.applications{
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.application{
    width: 15%;
    height: 80px;
    border-radius: 10px;
    font-size: 30px;
    color:#3c5190 ;
    border: 1px solid white;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}
.application:hover{
    border: 1px solid lightseagreen;
}
.application__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.information_time_weather {
    width: 25%;
    background-color: white;
    height: 270px;
    border-radius: 15px;
}
.bx-cloud-snow{
    font-size: 2rem;
    color: #3565ae;
}
.time , .weather{
    width: 50%;
    height: 65%;
    padding:0 3px;
    text-align: center;
    border-bottom:1px solid rgb(179, 189, 199);
    border-left: 1px solid rgb(179, 189, 199);
}
.weather{
    border-left: none;
}
.weather__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.timer , .oghatsharei , .pishbini{
    border: 1px solid rgb(179, 189, 199);
    padding: 5px;
    border-radius: 15px;
    color:rgb(102, 134, 168) ;
    margin-top: 8px;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;
}
.pishbini{
    width: 60%;
    margin: 15px 25px;
}
#clock{
    color: #3565ae;
}
#islamic,#miladi{
    margin-top: 8px;
    font-size: 10px;
    width: 45%;
    font-weight: bolder;
    color: gray;
}
#miladi{
    direction: ltr;
    border-right: 1px solid rgb(179, 189, 199);
}
#funword{
    margin-top: 5px;
    font-size: 12px;
    font-weight: bolder;
}
#max_min_weather{
    margin-top: 20px;
    font-size: 10px;
    font-weight: bolder;
}
@font-face {
    font-family: 'Vazirmatn';
    src: url('../Font/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
        url('../Font/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}